[submodule "sublime/Packages/Package Control"]
	path = sublime/Packages/Package Control
	url = git@github.com:wbond/sublime_package_control.git
[submodule "sublime/Packages/Git"]
	path = sublime/Packages/Git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "sublime/Packages/SideBarEnhancements"]
	path = sublime/Packages/SideBarEnhancements
	url = git://github.com/titoBouzout/SideBarEnhancements.git
[submodule "sublime/Packages/TrailingSpaces"]
	path = sublime/Packages/TrailingSpaces
	url = git://github.com/SublimeText/TrailingSpaces.git
[submodule "sublime/Packages/Emmet"]
	path = sublime/Packages/Emmet
	url = git@github.com:sergeche/emmet-sublime.git
[submodule "sublime/Packages/Better CoffeeScript"]
	path = sublime/Packages/Better CoffeeScript
	url = git@github.com:aponxi/sublime-better-coffeescript.git
[submodule "sublime/Packages/SublimeCodeIntel"]
	path = sublime/Packages/SublimeCodeIntel
	url = git://github.com/SublimeCodeIntel/SublimeCodeIntel.git
[submodule "sublime/Packages/RubyTest"]
	path = sublime/Packages/RubyTest
	url = git@github.com:maltize/sublime-text-2-ruby-tests.git
[submodule "sublime/Packages/SublimeERB"]
	path = sublime/Packages/SublimeERB
	url = git@github.com:eddorre/SublimeERB.git
[submodule "sublime/Packages/ERB_snippets"]
	path = sublime/Packages/ERB_snippets
	url = git://github.com/matthewrobertson/ERB-Sublime-Snippets.git
[submodule "sublime/Packages/RSpec"]
	path = sublime/Packages/RSpec
	url = git://github.com/SublimeText/RSpec.git
[submodule "sublime/Packages/DocBlockr"]
	path = sublime/Packages/DocBlockr
	url = git@github.com:spadgos/sublime-jsdocs.git
[submodule "sublime/Packages/SCSS"]
	path = sublime/Packages/SCSS
	url = git@github.com:MarioRicalde/SCSS.tmbundle.git
[submodule "sublime/Packages/CTags"]
	path = sublime/Packages/CTags
	url = git@github.com:SublimeText/CTags.git
[submodule "sublime/Packages/GoSublime"]
	path = sublime/Packages/GoSublime
	url = git@github.com:DisposaBoy/GoSublime.git
[submodule "sublime/Packages/sublime-github"]
	path = sublime/Packages/sublime-github
	url = git@github.com:bgreenlee/sublime-github.git
